:root {
  /* Brand */
  --dt-red: #b41618;
  --dt-indigo: #211f60;
  --dt-blue: #1f628e;
  --dt-fuchsia: #8e1f62;

  /* Neutrals */
  --dt-text: #2e2e2e;
  --dt-white: #ffffff;
  --dt-grey-50: #f7f7f7;
  --dt-grey-100: #eeeeee;
  --dt-grey-300: #cccccc;

  /* Semantics */
  --dt-plus: #158c36;
  --dt-minus: #d91a1d;
  --dt-attention: #edd83d;

  /* Defaults */
  --color-primary: var(--dt-red);
  --color-text: var(--dt-text);
  --color-bg: #f7f8f9;
  --color-section: var(--dt-grey-50);
  --focus-ring-color: rgba(31,98,142,0.18);
}
