:root {
  /* Brand */
  --dt-red: #b41618;
  --dt-indigo: #211F60;
  --dt-blue: #1F628E;
  --dt-fuchsia: #8E1F62;

  /* Neutrals */
  --dt-text: #2e2e2e;
  --dt-white: #ffffff;
  --dt-grey-50: #f7f7f7;
  --dt-grey-100: #eeeeee;
  --dt-grey-300: #cccccc;

  /* Semantics */
  --dt-success: #158C36;
  --dt-danger: #D91A1D;
  --dt-warning: #EDD83D;

  /* Defaults */
  --color-primary: var(--dt-red);
  --color-text: var(--dt-text);
  --color-bg: var(--dt-white);
  --color-section: var(--dt-grey-50);
}
