:root {
  --font-sans: 'Montserrat', system-ui, -apple-system, sans-serif;

  --font-regular: 400;
  --font-semibold: 600;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.375rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2.25rem;

  --line-normal: 1.5;
  --line-tight: 1.2;
}
